{% extends 'base.html.twig' %}

{% block timer %}{%endblock%}

{% block fin %}
    <div class="next-section">
        <a class="go-to-profile"><span></span></a>
    </div><!-- /.next-section -->
{%endblock%}

{% block profile %}


    <!-- profile Section -->
    <section id="profile" class="section-style" data-background-image="{{ asset('images/background/course-pied.jpg') }}">   
        <div class="pattern height-resize">
            <div class="container">
                <h3 class="section-name">
                    <span>
                        Vous voila
                    </span>
                </h3><!-- /.section-name -->

                <article class="box">
                    {% block fos_user_content %}
                        {% include "@FOSUser/Profile/show_content.html.twig" %}
                    {% endblock fos_user_content %}
                </article>

                <div class="next-section">
                    <a class="go-to-contact"><span></span></a>
                </div><!-- /.next-section -->

            </div><!-- /.container -->
        </div><!-- /.pattern -->

    </section><!-- /#profile -->
    <!-- profile Section End -->
{%endblock%}